{% extends "dashboard/base.html" %}
{% load materializecss %}
{% load i18n %}
{% load mptt_tags %}
{% load staticfiles %}
{% load status %}

{% block title %}
  {% if super_collection.pk %}
    {% trans "Edit super collection" context "Super collection form page title" %} {{ super_collection }}
  {% else %}
    {% trans "Add new super collection" context "Super collection detail page title" %}
  {% endif %}
  - {% trans "Super Collections" context "Dashboard super collections list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-customers{% endblock %}

{% block menu_super_collections_class %} active{% endblock %}

{% block page_title %}
  {% if super_collection.pk %}
    {{ super_collection }}
  {% else %}
    {% trans "Add new super collection" context "Super collection form page title" %}
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url 'super-collection-dashboard-list' %}" class="breadcrumbs--ellipsed-item">
        {% trans "Super Collections" context "Dashboard super collections list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url 'super-collection-dashboard-list' %}" class="breadcrumbs--ellipsed-item">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px"></svg>
      </a>
    </li>
    {% if path %}
      <li class="back-mobile">
        <a href="{% url 'super-collection-dashboard-list' %}">
          <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px"></svg>
        </a>
      </li>
      {% for node in path %}
        {% if forloop.last %}
          {% if node.pk %}
            <li>
              <a href="{% url 'super-collection-dashboard-detail' pk=node.pk %}" class="breadcrumbs--ellipsed-item">{{ node }}</a>
            </li>
            {% if super_collection.pk %}
              <li>
                <span class="breadcrumbs--ellipsed-item">
                  {% trans "Edit" context "Super collection form page title" %}
                </span>
              </li>
            {% else %}
              <li>
                <span class="breadcrumbs--ellipsed-item">
                  {% trans "Add new super collection" context "Super collection detail breadcrumbs" %}
                </span>
              </li>
            {% endif %}
          {% endif %}
        {% else %}
          <li class="hide-on-med-and-down">
            <a href="{% url 'super-collection-dashboard-detail' pk=node.pk %}" title="{{ node.name }}" class="breadcrumbs--ellipsed-item">
              {{ node.name }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% else %}
      <li>
        <span class="breadcrumbs--ellipsed-item">
          {% trans "Add new super collection" context "Super collection detail breadcrumbs" %}
        </span>
      </li>
    {% endif %}
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block header_extra %}
  {% if super_collection.pk %}
    {% if perms.super_collections.edit %}
      <a class="dropdown-button right" href="#" data-activates="super-collection-delete" data-constrainwidth="false">
        <svg data-src="{% static "dashboard/images/more-vert.svg" %}" height="24" width="24"></svg>
      </a>
      <ul id="super-collection-delete" class="dropdown-content">
        <li>
          <a href="{{ super_collection.get_absolute_url }}">
            {% trans "View on site" context "Super collection action" %}
          </a>
        </li>
      </ul>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col m12 l9">
      <div class="card">
        <form method="post" id="form-super-collection" enctype="multipart/form-data" novalidate>
          <div class="card-content">
            {% csrf_token %}
            <div class="row">
              {{ form.name|materializecss }}
            </div>
            <div class="row">
              {{ form.alternative_name|materializecss }}
            </div>
            <div class="row">
              <div class="col s12">
                <div class="row">
                  {{ form.content|materializecss }}
                </div>
                <div class="row">
                  {{ form.collections|materializecss }}
                </div>
                <span class="card-title">Availability</span>
                <div class="row">
                  {{ form.is_published|materializecss }}
                </div>
                <div class="row">
                  {{ form.background_image|materializecss }}
                </div>
                <div class="row">
                  {{ form.main_picture_1|materializecss }}
                </div>
                <div class="row">
                  {{ form.main_picture_2|materializecss }}
                </div>
                <div class="row">
                  {{ form.main_picture_3|materializecss }}
                </div>
                <div class="row">
                  {{ form.main_picture_1_to_3_box_header_picture|materializecss }}
                </div>
                <div class="row">
                  {{ form.main_picture_1_to_3_box_button_text|materializecss }}
                </div>
                <div class="row">
                  {{ form.main_picture_1_to_3_link|materializecss }}
                </div>
                <div class="row">
                  {{ form.popular_collection_1|materializecss }}
                </div>
                <div class="row">
                  {{ form.popular_collection_1_text|materializecss }}
                </div>
                <div class="row">
                  {{ form.popular_collection_1_link|materializecss }}
                </div>
                <div class="row">
                  {{ form.popular_collection_2|materializecss }}
                </div>
                <div class="row">
                  {{ form.popular_collection_2_text|materializecss }}
                </div>
                <div class="row">
                  {{ form.popular_collection_2_link|materializecss }}
                </div>
                <div class="row">
                  {{ form.popular_collection_3|materializecss }}
                </div>
                <div class="row">
                  {{ form.popular_collection_3_text|materializecss }}
                </div>
                <div class="row">
                  {{ form.popular_collection_3_link|materializecss }}
                </div>
                <div class="row">
                  {{ form.popular_collection_4|materializecss }}
                </div>
                <div class="row">
                  {{ form.popular_collection_4_text|materializecss }}
                </div>
                <div class="row">
                  {{ form.popular_collection_4_link|materializecss }}
                </div>
                <div class="row">
                  {{ form.popular_collection_5|materializecss }}
                </div>
                <div class="row">
                  {{ form.popular_collection_5_text|materializecss }}
                </div>
                <div class="row">
                  {{ form.popular_collection_5_link|materializecss }}
                </div>
                <div class="row">
                  {{ form.main_picture_4|materializecss }}
                </div>
                <div class="row">
                  {{ form.main_picture_4_box_header_picture|materializecss }}
                </div>
                <div class="row">
                  {{ form.main_picture_4_box_button_text|materializecss }}
                </div>
                <div class="row">
                  {{ form.main_picture_4_link|materializecss }}
                </div>
                <div class="row">
                  {{ form.best_seller_1|materializecss }}
                </div>
                <div class="row">
                  {{ form.best_seller_2|materializecss }}
                </div>
                <div class="row">
                  {{ form.best_seller_3|materializecss }}
                </div>
                <div class="row">
                  {{ form.best_seller_4|materializecss }}
                </div>
                <div class="row">
                  {{ form.best_seller_5|materializecss }}
                </div>
                <div class="row">
                  {{ form.best_seller_6|materializecss }}
                </div>
                <div class="row">
                  {{ form.previous_picture|materializecss }}
                </div>
                <div class="row">
                  {{ form.previous_picture_text|materializecss }}
                </div>
                <div class="row">
                  {{ form.previous_picture_link|materializecss }}
                </div>
                <div class="row">
                  {{ form.next_picture|materializecss }}
                </div>
                <div class="row">
                  {{ form.next_picture_text|materializecss }}
                </div>
                <div class="row">
                  {{ form.next_picture_link|materializecss }}
                </div>
                {% include "dashboard/includes/_google_preview.html" with object=super_collection form=form %}
              </div>
            </div>
          </div>
          <div class="card-action right-align">
            {% if path %}
              <a href="{% url 'super-collection-dashboard-detail' pk=path.last.pk %}" class="btn btn-flat">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
            {% else %}
              <a href="{% url 'super-collection-dashboard-list' %}" class="btn btn-flat">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
            {% endif %}
            {% if super_collection.pk %}
              <button type="submit" class="btn waves-effect">
                {% trans "Update" context "Dashboard update action" %}
              </button>
            {% else %}
              <button type="submit" class="btn waves-effect">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
    {% if super_collection.pk %}
      <div class="col s12 l3">
        <div id="status">
          <div class="row no-margin">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <form id="toggle-publish-form" action="{% url 'super-collection-dashboard-publish' pk=super_collection.pk %}">
                    <div class="switch" id="collection-is-published">
                      <label>
                        <input id="toggle-publish-switch" type="checkbox" {% if super_collection.is_published %} checked {% endif %}>
                        <span class="lever"></span>
                        <span class="label">
                          {% if super_collection.is_published %}
                            {% trans "Published" context "Collection field" %}
                          {% else %}
                            {% trans "Draft" context "Collection field" %}
                          {% endif %}
                        </span>
                      </label>
                    </div>
                  {% csrf_token %}
                  </form>
                  <h5>{% render_collection_availability super_collection %}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
