{% load i18n %}

{% if perms.super_collections.view %}
<li class="side-nav-section">
  <p>
    {% trans "Super Collectionss" context "Dashboard super collections list" %}
  </p>
  <ul>
      {% if perms.super_collections.view %}
        <li class="{% block menu_super_collections_class %}{% endblock %}">
          <a href="{% url 'super-collection-dashboard-list' %}">
            {% trans "Super Collections" context "Dashboard super collections list" %}
          </a>
        </li>
      {% endif %}
    </ul>
</li>
{% endif %}

